setenv SSW /Users/schriste/Documents/sswgdl/
setenv ssw_sw_sets "ssw_ssw_site ssw_packages_binaries ssw_ssw_gen"
setenv ssw_db_sets ""
setenv ssw /Users/schriste/Documents/sswgdl/
setenv soho /Users/schriste/Documents/sswgdl//soho
setenv yohkoh /Users/schriste/Documents/sswgdl//yohkoh
setenv smm /Users/schriste/Documents/sswgdl//smm
setenv spartan /Users/schriste/Documents/sswgdl//spartan
setenv packages /Users/schriste/Documents/sswgdl//packages
setenv trace /Users/schriste/Documents/sswgdl//trace
setenv cgro /Users/schriste/Documents/sswgdl//cgro
setenv radio /Users/schriste/Documents/sswgdl//radio
setenv optical /Users/schriste/Documents/sswgdl//optical
setenv hessi /Users/schriste/Documents/sswgdl//hessi
setenv sxi /Users/schriste/Documents/sswgdl//sxi
setenv goes /Users/schriste/Documents/sswgdl//goes
setenv solarb /Users/schriste/Documents/sswgdl//solarb
setenv hinode /Users/schriste/Documents/sswgdl//hinode
setenv vobs /Users/schriste/Documents/sswgdl//vobs
setenv stereo /Users/schriste/Documents/sswgdl//stereo
setenv ydb /Users/schriste/Documents/sswgdl//dbase/yohkoh
setenv sohodb /Users/schriste/Documents/sswgdl//dbase/soho
setenv spartandb /Users/schriste/Documents/sswgdl//dbase/spartan
setenv tracedb /Users/schriste/Documents/sswgdl//dbase/trace
setenv bin /Users/schriste/Documents/sswgdl//bin
